:root{
    font-size: 62.5%;

    --rocketseat-color:#8257e5;

    --primary: #181818;
    --text:#fff;
}

*{
    margin: 0;
}

body{
    background-color: var(--primary);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

#main{
    margin-top: 10rem;
    width: 80%;
    max-width: 40rem;
    margin-inline: auto;
}

h1{
    font-size: 3rem;   
    margin: 4rem 0 1rem;
}

p{
    font-size: 1.6rem;
    margin-bottom: 4rem;
    opacity: 0.9;
}

input,
button{
    display: block;
    width: 100%;
    border-radius: .3rem;

    padding: 2rem;
    font-size: 2rem;
}

input{
    margin-bottom: 2rem;
    box-sizing: border-box;
}

button{
    border: none;
    color: #fff;
    background-color: var(--rocketseat-color);

    transition: filter .2s;
}

button:hover{
    filter: brightness(1.15);
    cursor: pointer;
}

#answer{
    margin-top: 3rem;
    transition: opacity 1s;

    font-size: 1.8rem;
}

#answer div{
    font-size: 2rem;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 1rem;
}